body {
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.hello {
  font-size: 3rem;
  transition: all 0.3s ease;
  opacity: 1;
}
.boom {
  transform: scale(3) rotate(720deg);
  opacity: 0;
}
